/* Because the CSS wasn't loading on Chrome mobile */
@import url(style.css);

body{
	font-family: Lato, sans-serif;
}

#title {
	color: #fff;
	font-size: 60px;
	font-weight: 900;
	font-style: italic;
	padding-top: 450px;
}

#subtitle {
	color: #fff;
	font-size: 50px;
	margin-top: -20px;
	padding-left: 7px;
}

#date {
	color: #fff;
	font-size: 40px;
	padding-left: 7px;
	margin-top: 10px;
}

h2 {
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	margin: 10px 0;
	padding-top: 10px;
}

h4 {
	font-size: 22px;
	text-decoration: underline;
	padding-top: 5px;
}

.row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.row-striped:nth-of-type(even) {
  background-color: #f1f1f1;
}

.row-striped:nth-of-type(odd) {
	background-color: #f9f9f9;
}

#nav { 
	margin-top: 30px; 
	background-color: #000000;
}

.card {
	margin-bottom: 10px;
	border: 0px;
}

.card-body {
	padding: 0px;
	border: 0px;
}

.card-title {
	text-align: center;
	font-weight: bold;
	background-color: #f1f1f1;
	padding: 0.5em 0 0.5em 0;
	margin-bottom: 0px;
	border-radius: .5em .5em 0 0;
}

.card-text {
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 0 0 .5em .5em;
	text-align: center;
}

.time {
	font-weight: bold;
}

#slide1 {
	background-image: url('../img/bike.jpg');
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 10%;
}

#slide2 {
	background-image: url('../img/bridgerun.jpeg');
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide3 {
	background-image: url('../img/dance.jpeg');
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide4 {
	background-image: url('../img/vrgaming.jpeg');
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide5 {
	background-image: url('../img/yoga.jpeg');
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Turn off parallax for small screen devices */
@media only screen and (max-device-width: 1024px) {
    #slide1, #slide2, #slide3, #slide4, #slide5 {
        background-attachment: scroll;
    }
}

/*Adjust page jump to accomodate for navbar*/
#content1, #content2, #content3, #content4, #content5 {
    padding-top: 110px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -110px;
    padding-bottom: 10px;
}

/* Resize schedule for small screen devices */
@media only screen and (max-device-width: 1024px) {
    #content2 {
    	padding-left: 2%;
    	padding-right: 2%;
    }
}