body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h2 {
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	font-size: 55px;
	text-align: left;
	margin: 10px;
	padding-top: 10px;
}

h3 {
	font-family: Lato, sans-serif;
	font-weight: bold;
	font-size: 40px;
}

h6 {
	font-family: Lato;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin: 15px 0;
	z-index: 1;
	position: relative;
}

.center {
	margin: 0 auto;
}

.content1 {
	margin: 0 auto;
	width: 960px;
}

.clear {
	clear: both;
}

#header {
	width: 100%;
	background-color: #000000;
	height: 80px;
	position: fixed;
	margin-top: 30px;
}

#nav { 
	width: 500px; 
	float: right; 
	margin-top: 20px; 
}

#logo a { 
	color: #fff; 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	margin-top: 30px; 
	color: #fff; 
	font-family: 'Josefin Sans'; 
	font-weight: bold; 
}

#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}

#nav li{
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}

#nav li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none; 
	font-family: Lato; 
}

#nav li a.active { 
	color: #fff; 
	opacity:1; 
	border-bottom: 2px solid #fff; 
}

#nav li a:hover { 
	color: #fff; 
	opacity:1; 
}

dt {
	font-family: Lato, sans-serif;
	font-weight: bold;
}

dd {
	font-family: Lato, sans-serif;
}

#slide1 {
	background-image: url('../img/bike.jpg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide2 {
	background-image: url('../img/bridgerun.jpeg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide3 {
	background-image: url('../img/dance.jpeg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide4 {
	background-image: url('../img/vrgaming.jpeg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#slide5 {
	background-image: url('../img/yoga.jpeg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Turn off parallax for small screen devices */
@media only screen and (max-device-width: 1024px) {
    .slide1 {
        background-attachment: scroll;
    }
}